.title-bg {
    background-image: url("images/main.jpg");
    height: 100%;
    width : 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.da-copertina {
    background-image: url("images/da.jpg");
    height: 40%;
    width : 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nsa-copertina {
    background-image: url("images/la.jpg");
    height: 40%;
    width : 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nod-copertina {
    background-image: url("images/nod.jpeg");
    height: 40%;
    width : 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100%;
    width : 100%;
    position: absolute;
}

.dark {
    background-color: rgb(214, 192, 147);
}

.light {
    background-color: floralwhite;
}

.iframe-container {
    overflow: hidden;
    position: relative;
} 

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

div.multiples{
    text-align: center;
    display:flex;
}

div.multiple {
    flex: 1;
}

.legend div {
    margin: auto;
}

.container-fluid {
    padding-bottom: 2rem;
}

#parallel_words_chart .svg-container {
    margin: auto;
}

#colors_chart  .svg-container {
    margin: auto;
}

#decade_words svg {
    width: 100%;
}

.dark-bg-header {
    background-color: black;
    opacity: 0.8;
    margin: auto;
    padding: 2%;
}

.paragraph {
    /* padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%; */
    font-family: "Helvetica";
    text-align: justify;
}

.text-above-chart {
    margin-bottom: 2%;
}
.text-under-chart {
    margin-top: 2%;
}

.pt-5, .py-5 {
    padding-top: 1rem!important;
}

.cropped2 {
    width: 100%; /* width of container */
    height: auto; /* height of container */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    /* object-position: 20% 10px;  */
    /* border: 1px solid black; */
}

.footer-image .col-2{
    margin: auto;
}

.footer-image {
    margin-top: 1%;
}

.text-center {
    text-align: center;
}

.bg-dark-nav {
    background-color: black;
}